/*  RESET  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */

.countainer{
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

body{
    background-color: rgb(143, 231, 231);
}

ul, ol {list-style: none;

}
/* header */

.page-header{
    background-color: white;
    padding: 10px 10px;
}

.page-header .logo{
    width: 120px;

}

/* main */

.todo-card{
    background-color: white;
    border-radius: 10px;
    padding: 0px 30px;
}

.button{
    display: inline-block;
    border-bottom: solid 1px black;
    padding: 5px;
   
}
.list{
    display: inline-block;
}
.special-signs{
    display: inline-block;
    padding: 2px;
    border: 1px solid green;
    border-radius: 100%;
    font-size: 10px;
    color: green;
}
ul{
    padding: 10px;
}
li{
    padding: 5px;
}